
@font-size: 14px;
@font-size-large: @font-size * 1.2;

#base {
  height: 100%;
}

.box {
  outline: 1px solid gray;
  padding: 4px;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;

  font-family: "Helvetica Neue",Helvetica,"メイリオ",Meiryo,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN",sans-serif;
  font-size: @font-size-large;
  font-weight: bold;
}

.container {
  display: flex;
  flex-wrap: nowrap;
}

.container-horizontal {
  flex-direction: row;
}

.container-vertical {
  flex-direction: column;
}

#top {
  flex: 2;
}

#bottom, #co, #rs, #kp, #kar, #vp, #crh, #cs, #ka, #cr, #kr, #ch {
  flex: 1;
}

.textarea {
  flex: 1;
  border: 0;
  resize: none;

  font-weight: normal;
  font-size: @font-size;
}

.list {
  margin: 0;
  padding-left: 1.2em;
}

.list-item {
  word-break: break-all;

  font-weight: normal;
  font-size: @font-size;

  .remove-button {
    float: right;
    margin-right: 4px;
    margin-bottom: 2px;

    visibility: hidden;
  }

  &:hover .remove-button {
    visibility: visible;
  }
}
