@import 'variables.less';

:host {
  height: 100%;

  display: flex;
}

.container {
  display: flex;
  flex-wrap: nowrap;
}

.container-horizontal {
  flex-direction: row;
}

.container-vertical {
  flex-direction: column;
}

.box {
  outline: 1px solid gray;
  padding: 4px;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;

  font-family: @font-family;
  font-size: @font-size-large;
  font-weight: bold;
}

#top {
  flex: 2;
}

#bottom, #co, #rs, #kp, #kar, #vp, #crh, #cs, #ka, #cr, #kr, #ch {
  flex: 1;
}
